
<h1 class="text-center p-3"> Sample Sign Up Form</h1>
<p class="text-center">Do you have any queries, or something to share with us? <br> Feel free to contact us by filling out the form below.</p>
<div class="d-flex justify-content-center p-2">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row p-2">
            <label for="email1" class="form-label">Email address</label>
            <input type="text" class="input-box form-control border border-primary" name="email" id="email" formControlName="email" placeholder="jdcruz@example.com" required>
            <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error">
                Email is required and must be a valid email address.
            </div>
        </div>
        <div class="row p-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="input-box form-control border border-primary" name="username" formControlName="username" id="username" placeholder="jdcruz" required>
            <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="error">
                Username is required and must be at least 6 characters long.
            </div>
        </div>
        <div class="row p-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="input-box form-control border border-primary" name="password" formControlName="password"  id="password" placeholder="Password">
            <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="error">
               Password is required and must be at least 8 characters long.
            </div>
        </div>
        <button class="btn btn-dark" type="submit" [disabled]="loginForm.invalid">Submit</button>
    </form>
</div>
<p class="myname text-center">**Natividad, Christine Jasline D. of WD-302**</p>
